<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.connectsy"
      android:versionCode="1"
      android:versionName="1.0">
    <application 
	    	android:icon="@drawable/icon_dev" 
	    	android:label="@string/app_name"
	    	android:theme="@style/Theme.Consy">
	    <uses-library android:name="com.google.android.maps" />
	    
        <activity android:name=".Launcher"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        
        <activity android:name=".events.EventList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.connectsy.event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.EventNew"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".events.EventView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.comments.CommentNew"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.event.comment" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".categories.CategorySelector">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".users.Register"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".users.Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".users.Logout"
                  android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".users.UserView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".users.UserSelector">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".users.UserSearch"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        
        <activity android:name=".settings.Preferences"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        
        <service android:name=".notifications.NotificationService">
            <intent-filter>
                <action android:name="com.connectsy.START_NOTIFICATIONS" />
            </intent-filter>
        </service>
        <receiver android:name=".notifications.StartupCatcher">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<activity android:name=".notifications.NotificationRedirect"
                  android:theme="@android:style/Theme.NoDisplay"/>
        
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest> 