<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.connectsy2"
      android:versionCode="2"
      android:versionName="1.0">
    <application 
	    	android:icon="@drawable/icon" 
	    	android:label="@string/app_name"
	    	android:theme="@style/Theme.Consy">
	    
        <activity android:name=".Launcher"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        
        <activity android:name=".events.EventList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.connectsy.event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.EventNew"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".events.EventView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.comments.CommentList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.connectsy.event.comment" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.comments.CommentNew"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.event.comment" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".events.attendants.AttendantList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.connectsy.event.attendant" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".categories.CategorySelector">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".users.Register"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".users.Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".users.Logout"
                  android:theme="@android:style/Theme.NoDisplay" />
        <activity android:name=".users.UserView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".users.UserSelector">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.user" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".users.ContactSelector">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
                <data android:mimeType="vnd.android.cursor.item/vnd.connectsy.contact" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".users.UserSearch"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        
        <activity android:name=".settings.Preferences"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        
        <activity android:name=".notifications.NotificationRedirect"
                  android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name=".notifications.NotificationList"/>
        <service android:name=".notifications.NotificationService">
            <intent-filter>
                <action android:name="com.connectsy2.START_NOTIFICATIONS" />
                <action android:name="com.connectsy2.STOP_NOTIFICATIONS" />
            </intent-filter>
        </service>
        <receiver android:name=".notifications.NotificationBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
		</receiver>
        
		<!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" 
		      android:exported="true">
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
        
    </application>
    <supports-screens android:anyDensity="true"/>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-library android:name="com.google.android.maps" />-->
	
</manifest> 